* {
  font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
  }
  header {
    position: relative;
    height: 50px;
  }
  .slogan__none{
    display: none;
  }
  nav {
    position: fixed;
    width: 100%;
    min-height: 51px;
    background-color: #212121;
    z-index: 2;
   
  }
  .hamburger{
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
  
    &__link {
      text-decoration: none;
      font-size: 15px;
      font-weight: 300;
      color: #ffffff;
      &:hover {
        
        color:#1eacc7;
      }
    }
  
    &__item {
      border-right: 2px dotted black;
      padding: 0 45px 0 0;
    }
    &__item:last-child{
      border: none;
    }
  }
  
  .subheader {
    position: absolute;
    top: 51px;
    width: 100%;
    min-height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    
    &__logo {
      display: block;
      max-width: 100%;
      margin-top: 16px;
    }
  
    &__call {
      font-size: 12px;
      font-weight: 300;
      color: #ffffff;
      text-align: right;
      margin-top: 19px;
    }
  
    &__phone {
      display: block;
      margin-top: 8px;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      line-height: 12px;
      text-align: right;
      text-decoration: none;
      
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    &__btn {
      margin-top: 19px;
    }
  }
  
  .btn {
    width: 178px;
    height: 52px;
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    &:hover{
      background-image: none;
      background-color: #1EACC7;
    }
  }
  
  .promo {
    min-height: 800px;
    background: url('../img/header__bg.jpg') center (center / cover) no-repeat;
    padding: 150px 0 135px 0;
  
    &__header {
      font-size: 60px;
      font-weight: 900;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      line-height: 60px;
      margin: 0;
    }
  
    &__subheader {
      font-size: 36px;
      font-weight: 700;
      color: #ffffff;
      text-align: center;
      line-height: 36px;
      margin: 22px 0 0 0;
    }
  
    &__descr {
      margin-top: 23px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
    }
  
    &__btn {
      display: block;
      margin: 118px auto 0 auto;
    }
  }
  
  .benefits {
    padding: 71px 0 65px 0;
  }
  
  .logo {
    font-weight: 400;
    font-size: 11px;
    width: 113px;
    height: 24px;
    background: #000000;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin: 33px 0 0 0;
  }
  .subtitle{
      font-size: 17px;
      font-weight: 400;
      color: #222222;
      text-align: center;
      margin: 19px 0 0 0;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    &__around {
      margin-right: 26px;
      width: 116px;
      height: 116px;
      background: #1EACC7;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
  }
  .item__descr {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    width: 343px;
  
    span {
      line-height: 21px;
      color: #1eacc7;
      font-size: 17px;
      font-weight: 400;
    }
  }
  .mobile{
      background: url('../img/capabilities__bg.png') center center / cover no-repeat;
      min-height: 864px;
      padding: 48px 0 79px 0;
      .row{
          margin-top: 32px;
      }
      &__plus{
          border-radius: 100%;
          width: 26px;
          height: 26px;
          background-color: #000000;
          position: absolute;
          bottom: 35px;
          left:50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        
      }
      &__plus::before {
          content: "+";
          height:14px;
          width:14px;
          font-size:25px;
          display:flex;
          flex-direction:row;
          align-items:center;
          justify-content:center;
          font-weight:300;
          color:#1eacc7;
        }
      &__subtitle {
          font-size: 24px;
          font-weight: 400;
          text-transform: uppercase;
          color: #ffffff;
          text-align: center;
      }
      &__item{
          width: 320px;
          height: 280px;
          opacity: 0.9;
          margin: 0 auto;
          padding-top: 92px;
          position: relative;
         
      }
      &__item-1{
          background: url('../img/mobile__screen-1.jpg') center center / cover no-repeat;
          margin-bottom: 19px;
          
      }
      &__item-2{
          background: url('../img/mobile__screen-2.jpg') center center / cover no-repeat;
          margin-bottom: 19px;
      }
      &__item-3{
          background: url('../img/mobile__screen-3.jpg') center center / cover no-repeat;
          margin-bottom: 19px;
      }
      &__item-4{
          background: url('../img/mobile__screen-4.jpg') center center / cover no-repeat;
      }
      &__item-5{
          background: url('../img/mobile__screen-5.jpg') center center / cover no-repeat;
      }
      &__item-6{
          background: url('../img/mobile__screen-6.jpg') center center / cover no-repeat;
      }
  }
  .choice {
      height: 499px;
      background-color: #070716;
      padding: 48px 0 0 0;
      position: relative;
      &__logo {
          background-color: #ffffff;
          color: #070716;
      }
      &__title {
          margin: 32px 0 0 0;
          color: #ffffff;
      }
      &__subtitle{
          margin: 8px 0 0 0;
          color: #ffffff;
      }
      &__car {
          position: absolute;
          top: 232px;
          display: block;
          left: 50%;
          transform: translateX(-50%);  
      }
  }
  .slogan {
      padding: 217px 0 138px;
      height: 397px;
      background: url("../img/bg__cars_txt.jpg") center center / cover no-repeat;
      &__descr {
          font-family: Roboto;
          font-size: 17px;
          line-height: 24px;
          font-weight: 300;
          color: #222222;
          height: 42px;
          text-align: center;
      }
  }
  .terms{
      padding: 68px 0 87;
      &__subtitle{
        font-size: 22px;
        font-weight: 400;
        color: #1ca8c3;
       
      }
      &__list {
        margin-top: 22px;
        font-size: 17px;
        font-weight: 300;
        color: #222222;
        list-style: none;
        padding-left: 50px;
         li {
          font-size: 17px;
          font-weight: 300;
          line-height: 24px;
          margin-bottom: 8px;
          position: relative;
          &::before{
            content: "";
            display:block;
            position: absolute;
            left: -32px;
            top: 3px;
            width: 21px;
            height: 20px;
            background: url("../img/check_blue.svg") center center / cover no-repeat;
          }
        }
      }
       
      &__descr {
        font-size: 17px;
        font-weight: 300;
        color: #1ca8c3;
        }
        &__block{
          margin: 33px 0;
        }
        &__mrb{
          margin-bottom: 0px;
        }
        
  }
  .warning{
     .terms__subtitle{
      color: red;
    }
      .terms__list li::before{
      content: "";
      display:block;
      position: absolute;
      left: -32px;
      top: 3px;
      width: 21px;
      height: 20px;
      background: url("../img/check_red.svg") center center / cover no-repeat;
    }
    
  }
  .cities {
    padding: 49px 0;
    background: url(../img/map__bg.png) center center / cover no-repeat;
    min-height: 717px;
    &__label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 76px;
      height: 24px;
      background-color: #ffffff;
      margin: 0 auto;
      font-size: 11px;
      font-weight: 100;
      text-transform: uppercase;
      color: #070716;
    }
    &__title {
      margin: 32px 0 0 0;
      color: #ffffff;
    }
    &__subtitle {
      color: #ffffff;
      margin: 5px 0 0 0;
    }
    &__all {
      text-align: center;
      margin: 486px 0 0 0;
      a{
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        color: #1fbad6;
        text-decoration: none;
        transition: 0.5s all;
        &:hover{
          color: #ffffff;
        }
      }
   
    }
  }
  .footer {
    padding: 14px 23px 39px;
    &__divider{
      width: 299px;
      height: 4px;
      background-color: #1fbad6;
      margin: 0 auto;
    }
    &__row{
      display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 32px 0 0 0;
      } 
      
          &__row>div {
        width: 33%
     }	
     &__row>div:nth-child(3){
      display: flex;
      justify-content: flex-end;
     }
    &__social {
        display: flex;
    }
    &__item {
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        margin: 0 9px 0 0;
        align-items: center;
        border-radius: 100%;
        background-color: #000000;
        i{
          color:#ffffff;
        }
        i:hover{
          color: #1fbad6;
   }
      }
      &__menu {
        // text-align: center;
          width: 390px;
          margin: 0 auto;
        
      }
      &__toplink {
        display: flex;
        justify-content: space-between;
        padding: 0 10px
      
      }
      &__toplink a{
        
          color: #070716;
          font-size: 15px;
          font-weight: 300;
          text-transform: uppercase;
        
      }
      &__toplink a:hover{
        color: #1fbad6;
      }
      &__sublink {
        display: flex;
        justify-content: space-between;
        margin-top: 10px
      }
      &__sublink a{
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        color: #999999;
      }
      &__sublink a:hover{
        color: #1fbad6;
      }
      &__lang{
        text-align: center;
        margin: 8px 0 0 0;
      }
      &__lang a { 
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        color: #1fbad6;
      }
      &__lang a:hover{
        color: #000000;
      }
    }
    .xs-visible{
      display: none;
    }