@media(max-width:1200px){
    .menu{
         &__item{
             padding:0 20px 0 0;
         }
         &__link{
             font-size: 13px;
         }
     }
     .promo{
          &__header{
             font-size: 50px;
         }
      }
      .benefits {
          .item {
             align-items: flex-start;
             &__descr {
                 width: 300px;
             }
         }  
     }
     .mobile__item {
         width: 300px;
         height: 280px;
     }
     .footer{
        &__row > div{
            width: 50%;
                &:nth-child(1){
                    width: 25%;
                }
                &:nth-child(3){
                    width: 25%; 
                    display: flex;
                    justify-content: flex-end;
                }
        }
        &__applications{
            display: flex;
            a{
               margin: 0 3px;
               img{
                width: 100%;
               } 
            }
        }
     }
     
}

@media (max-width:991px){
.title {
        font-size: 28px
    }
.menu {
     &__item {
        padding: 0px 10px 0 0;
        
    }
     &__link{
        font-size: 10px;
    }
}
.subheader{
     &__phone{
        font-size: 18px;
    }
     &__btn{
        width: 100%;
        margin-top: 21px;
        height: 40px;
        font-size: 14px;
    }
     &__logo {
        img{
        width: 100%;
        }
    }
}
.promo{
     &__header{
        font-size: 40px;
    }
     &__subheader{
        font-size: 30px;
    }
}
.benefits {
    & .item__descr{
        width: 63%;
    }
    & .item{
        align-items: center;
    }
   }
   .footer{
    &__row{
        flex-wrap: wrap;
    }
    &__row > div{
            width: 100%;
			display: flex;
			justify-content: center;
			margin-bottom: 20px;
            &:nth-child(1){
                width: 100%;
            }
            &:nth-child(3){
                width: 100%; 
                display: flex;
                justify-content: center;
            }
    }
    &__applications{
        display: flex;
        a{
           margin: 0 3px;
           img{
            width: 100%;
           } 
        }
    }
 }
     }
@media(max-width:767px){
    .menu{
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0,0.8);
        justify-content: center;
        align-items: center;
        transition: 0.6s all;
        &__active{
            left: 0;
        }
        & &__item{
            padding-right: 0;
            border: none;
            margin: 10px 0 0 0;
        }
    }
    .hamburger{
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        width: 26px;
        height: 12px;
        span{
            display: block;
            height: 2px;
            width: 100%;
           
            background-color: #fff;
            margin: 0 0 2px 0;
            transition: 0.5s all;
        }
        &__active{
            span{
                margin: 0 0 -2px 0;
                &:nth-child(1){
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .xs-hidden{
        display: none;
    }
    .xs-visible{
        display: block;
    }
    .subheader{
        &__phone{
            display: block;
            font-size: 17px;
            text-align: center;
            margin-top: 10px;
        }
        &__btn{
            
            width:200px ;
            height:40px ;
            margin: 0 auto;
            display: block;
            margin-top: 10px;
        }
    }
    .promo{
        &__header{
            font-size: 35px;
        }
        &__subheader {
            font-size: 23px;
        }
    }
    .benefits{
        .item{
            flex-direction: column;
            margin-top: 26px;
            &__around{
                margin: 0 0 27px 0;
            }
            &__descr{
                width: 100%;
                text-align: center;
            }
    }
    }
    .title {
        font-size: 27px;
    }
    .mobile{
        padding: 22px 0 43px;
        &__item{
            margin: 30px auto 0;  
        }
        &__item:first-child{
            margin: 27px auto 0; 
            width: 290px;
            height: 254px; 
        }
    }
    .choice{
        min-height:390px;
        padding: 25px 0 33px;
        position: relative;
        &__car{ 
            position: relative;
            top: 84px;
            img{
                max-width: 100%;
                object-fit:cover;
            }
        }
        
        &__title,&__subtitle{
            display: none;
        }
    }
    .slogan{
        display: none;
    }
    .slogan__none{
        display: block;
        margin: 100px 0 0 0;
        color: #fff;
        
    }
    .terms{
        &__block{
            margin: 22px 0 0 0;
        }
    }
    .cities{
        padding: 25px 0 30px 0;
        min-height: 360px;
    }
    .footer{
        padding: 25px 0 20px 0;
       &__divider{
        width: 253px;
		margin: 0 auto;
       }
       &__row{
        padding: 22px 0 0 0;
        &>div{
            margin: 0 0 20px 0;
            &:nth-child(1){
                order: 2;
            }
            &:nth-child(2){
                order: 1;
            }
            &:nth-child(3){
                order: 3;
            }
        }
       }

    }
}
@media(max-width:576px) {
 
   nav{
    height: 30px;
   }
    .subheader{
        top: 30px;
        &__logo{
            margin-top: 25px;
        }
        &__phone{
            font-size: 12px;
            margin-top: 25px;
        }
        &__btn{
            width:110px;
            height:22px;
            font-size: 10px;
        }
    }
    
    .promo{
        min-height: 400px;
        padding: 93px 0 35px 0;
        &__header{
            font-size: 30px;
            line-height: 1.2;
            padding: 0 24px;
            line-height: 35px;
        }
        &__subheader{
            margin-top: 33px;
            font-size: 20px;
            padding: 0 10px;
            line-height: 30px;
        }
        &__descr{
            display: none;
        }
        &__btn{
            margin: 67px auto;
            width: 216px;
            height: 56px;
            font-size: 16px;
        }
    }
    .benefits{
        padding: 22px 0 36px 0;
        .item{
           margin-top: 26px;
           &__around{
            width: 100px;
            height: 100px;
           }
            &__descr{
                margin-top: 27px;
                width: 100%;
                text-align: left;
            }
    }
  
    }
    .menu{
        width: 85%;
    }
    .title{
        font-size: 16px;
        margin-top: 15px;
        line-height: 16px;
    }
    .subtitle{
        font-size: 14px;
        line-height: 21px;
    }
    .mobile{
        &__subtitle{
            font-size: 18px;
            line-height: 31px;
        }
    }
    .choice{
        
        
        &__car {
            
            width: 300px;
            height: 190px;
        }
    }  
}